body {
    background-color: #f2a154;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* NAV BAR */
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar-title {
    color: white;
    font-size: 30px;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav-list a {
    font-size: "15";
    margin: 0 20px;
    color: white;
}

.nav-list a:hover {
    color: gray;
}

/* Book Component */

.card-container {
    width: 80%;
    margin: 1rem auto 4rem;
}

.card {
    margin: 2rem 20px;
    height: 100%;
    background-color: #ffefa1;
}

.card-body {
    text-align: center;
    background-color: #faf3e0;
    height: 100%;
}

.card-title {
    font-size: 25px;
    margin-bottom: 2rem;
    height: 5rem;
}

.col {
    margin-top: 5rem;
}


.card-text {
    font-size: 15px;
    height: 8rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    position: absolute;
    bottom: 10px;
    width: 80%;
}

/* Image */

img {
    height: 300px;
    width: auto;
}

/* About Component */

.aboutParagraph {
    display: inline-block;
    height: 100%;
}

/* Cart Component */
.cart-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 10px;
    color: black;
}

.cart-container p {
    font-size: 25px;
    margin-bottom: 0;
}

.cart-container:hover {
    color: white;
}


/* Payment Component */

.payment-container {
    margin: 6rem auto;
    text-align: center;
}

.payment-title {
    font-size: 80px;
    margin-bottom: 6rem;
}

h4 {
    font-size: 30px;
    margin-bottom: 2rem;
}

.btn-container {
    width: 20%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    width: 45%;
    margin: 0 auto 10px auto;
    line-height: 2;
}

.payment-card {
    width: 30%;
    background-color: #ffefa1;
}



@media only screen and (max-width: 440px){
    /* Navbar Component */
    .nav-list {
        display: flex;
    }

    .nav-list-tag {
        margin: 0 8px;
    }

    .title {
        font-size: 20px;
    }

    /* Book Component */
    .btn {
        left: 30px;
    }

    /* Booklist Component */
    .col {
        margin: 2rem auto 4rem; 
    }

    img {
        height: 280px;
        width: auto;
    }

    .card {
        margin: 2rem auto;
    }

    .card-title {
        font-size: 18px;
        margin: 5px auto 0;
        height: 35px;
    }

    .card-container {
        width: auto;
    }

    .about-paragraph {
        font-size: 15px;
    }

    /* Cart Component */

    .cart-icon {
        display: flex;
        justify-content: center;
        color: #28527a;
    }
    
    .cart-icon p{
        font-size: 18px;

    }

    /* Payment Component */

    .payment-title {
        font-size: 50px;
    }

    .payment-subtitle {
        font-size: 20px;
    }

    .btn-container {
        display: grid;
        width: 80%;
    }

    .btn-container a {
        margin: 10px auto;
    }

    .payment-h2 {
        font-size: 20px;
    }

    .payment-card {
        width: 80%;
    }

}

@media only screen and (max-width: 1024px){
    /* BookList Component  */
    .card-container {
        width: auto;
    }

    .card {
        margin: 2rem auto;
    }

    /* Payment Component */
    .btn-container {
        margin: 2rem auto;
        width: 50%;
    }
    
    .payment-card {
        width: 60%;
    }
}
